[Unit]
Descripion=Manages deck hardware (buttons/leds/buzzers/OLED)
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/git/deck/source/deck-hardware-service.py
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
